-# file: app/views/todo/new.haml
=form_for :todo, url(:todo, :create) do |f|
	= f.text_field :done, type: 'hidden', value: 0
	%table
		%tr
			%td= f.label :Category
			%td
				= f.select(:category_id, :collection => @cats, fields: [:cat, :id], selected: @selected)
		%tr
			%td= f.label :prio
			%td= f.text_field :prio
		%tr
			%td= f.label :thema
			%td= f.text_area :thema, rows: 3, cols: 25
	%p
	=submit_tag value: 'save', style: "margin-right:20px; "
	-# =submit_tag value: 'save', style: "float:left; margin-right:20px; "
	=link_to 'back to Todo list',url(:todo,:index),class: 'button'